<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Mode" value="GetFolderIcons"/>
    <add key="Path" value="G:\Videos\ANIME"/>
    <add key="ImagePath" value="G:\Bilder\FolderIcons\"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>